/* 居中 背景 */
body {
    justify-content: center;
    align-items: center;
    background: gray;
    height: 100vh;
    display: flex;
}

* {
    font-family: 'Roboto Mono', monospace;
    font-size: 14px;
}

#code-box {
    background-color: #282C34;
    border-radius: 8px;
    display: flex;
    padding: 20px;
}

#code {
    margin: unset;
}

#code code {
    padding: unset;
}

#number-line {
    border-right: dashed 2px;
    list-style: none;
    padding: 0 10px;
    color: white;
    margin: unset;
    margin-right: 1em;
}