* {
	margin: 0;
	padding: 0;
}

body {
	height: 100vh;
	/* 渐变背景 */
	background: linear-gradient(200deg, #005bea, #00c6bf);
}

#plane {
	color: #fff;
	font-size: 60px;
	/* 绝对定位 */
	position: absolute;
	/* 弹性布局 水平+垂直居中 */
	display: flex;
	justify-content: center;
	align-items: center;
}
